name: fortesting
description: "Nothing to see here"
version: 1.0.0
homepage: https://github.com/withcenterdev5/fortesting.git

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:


